/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/*/target
target/

### log ###
/LOG_FILE_PATH_IS_UNDEFINED
/*/LOG_FILE_PATH_IS_UNDEFINED

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/pay-service-entry/pay-auth-entry/src/main/resources/application.yml
.DS_Store
pay-service-entry/.DS_Store
pay-service/.DS_Store
pay-service/pay-channel/src/main/java/com/gloryjie/pay/channel/cache/
pay-service/pay-trade/src/main/java/com/gloryjie/pay/trade/error/
/pay-service-entry/pay-gateway-entry/src/main/resources/application.yml
/pay-service-entry/pay-notification-entry/src/main/resources/application.yml
/pay-service-entry/pay-server-register/src/main/resources/application.yml
/pay-service-entry/pay-trade-entry/src/main/resources/application.yml
/LOG_FILE_PATH_IS_UNDEFINED/
