spring:
  datasource:
    druid:
      username: root
      password: 123456
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: "jdbc:mysql://localhost:3306/pay?useUnicode=true&characterEncoding=UTF8"
  jackson:
    default-property-inclusion: non_null
    time-zone: GMT+8
  application:
    name: 'trade-service'
mybatis:
  mapper-locations: classpath*:/mapper/*.xml
  config-location: classpath:mybatis-config.xml
logging:
  level:
    com.gloryjie.pay: debug
server:
  port: 10010
#  servlet:
#    context-path: /pay/trade
domain: "http://jierong.nat300.top"
rocketmq:
  namesrv: '127.0.0.1:9876'

# mybatis pageHelper配置
pagehelper:
  reasonable: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:10000/eureka
    register-with-eureka: true
    fetch-registry: true