<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gloryjie.pay.app.dao.AppDao">

    <resultMap id="BaseResultMap" type="com.gloryjie.pay.app.model.App">
        <id column="app_id" property="appId"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
        <result column="use_platform_config" property="usePlatformConfig"/>
        <result column="parent_app" property="parentApp"/>
        <result column="trade_public_key" property="tradePublicKey"/>
        <result column="notify_private_key" property="notifyPrivateKey"/>
        <result column="notify_public_key" property="notifyPublicKey"/>
        <result column="level" property="level"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="table">
        t_app
    </sql>


    <sql id="all_column">
        app_id, type, name, description, status, user_id, use_platform_config,
        parent_app, trade_public_key, notify_private_key, notify_public_key,
        level, create_time, update_time
    </sql>

    <sql id="all_value">
        #{appId}, #{type}, #{name}, #{description}, #{status}, #{userId}, #{usePlatformConfig},
        #{parentApp}, #{tradePublicKey}, #{notifyPrivateKey}, #{notifyPublicKey},
        #{level}, now(), now()
    </sql>


    <select id="load" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="all_column"/>
        from
        <include refid="table"/>
        where app_id = #{appId}
    </select>

    <select id="getByName" resultMap="BaseResultMap">
        select
        <include refid="all_column"/>
        from
        <include refid="table"/>
        where name = #{name}
    </select>

    <select id="getMaxAppId" resultType="java.lang.Integer">
        select
        MAX(app_id)
        from
        <include refid="table"/>
    </select>

    <select id="getMasterAppList" resultMap="BaseResultMap">
        select
        <include refid="all_column"/>
        from
        <include refid="table"/>
        where type = 'MASTER'
    </select>

    <insert id="insert" parameterType="com.gloryjie.pay.app.model.App">
        insert into <include refid="table"/>
        (<include refid="all_column"/>)
        values
        (<include refid="all_value"/>)
    </insert>

    <update id="update" parameterType="com.gloryjie.pay.app.model.App">
        update <include refid="table"/>
        <set>
            <if test="type != null">type = #{type},</if>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="usePlatformConfig != null">use_platform_config = #{usePlatformConfig},</if>
            <if test="parentApp != null">parent_app = #{parentApp},</if>
            <if test="tradePublicKey != null">trade_public_key = #{tradePublicKey},</if>
            <if test="notifyPrivateKey != null">notify_private_key = #{notifyPrivateKey},</if>
            <if test="notifyPublicKey != null">notify_public_key = #{notifyPublicKey},</if>
            <if test="level != null">level = #{level},</if>
            update_time = now()
        </set>
        where app_id = #{appId}
    </update>

</mapper>