eureka:
  client:
    service-url:
      defaultZone: http://localhost:10000/eureka

spring:
  application:
    name: 'cloud-gateway'
server:
  port: 12000
zuul:
  ignored-services: '*'
  routes:
    trade-service:
      serviceId: 'trade-service'
      path: /pay/trade/**
#      stripPrefix: false
    notify-service:
      serviceId: 'notify-service'
      path: /pay/notification/**
      stripPrefix: false
    auth-service:
      serviceId: 'auth-service'
      path: /pay/auth/**
#      stripPrefix: true
  ignore-local-service: false
  sensitive-headers: Cookie,Set-Cookie
management:
  endpoints:
    web:
      exposure:
        include: '*'

pay:
  trigger:
    signCheck: true
    token-check: true
